@import "tailwindcss";

:root {
    font-family: 'Inter Variable', sans-serif;
}

body {
    background-color: var(--color-zinc-900);
    color: var(--color-zinc-100);
}
h1, h2{
    font-family: "Calistoga", serif;
}